.player__container {
    width: 400px;
    max-width: 400px;
    margin-top: -40px;
    .player__title {
        text-align: center;
        font-family: 'Permanent Marker', 'Sans Serif';
        font-size: 20px;
    }
}